<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.TestScripts.PostRequestTC"/>
      <class name="org.testing.TestScripts.GetRequestTC"/>
      <class name="org.testing.TestScripts.GetRequestWithQueryParameters"/>
      <class name="org.testing.TestScripts.PutRequest"/>
      <class name="org.testing.TestScripts.DeleteRequest"/>
      <class name="org.testing.TestScripts.ReadNUpdateJsonFile"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
